
  #app-container {
    background: var(--background-colour);
  }

  .Main {
    background: var(--background-colour);

    &> p, &> h2, &> span {
      color: var(--text-colour) !important;
    }

    h1::after,
    h2::before {
      background-color: #766699;
      opacity: 0.6;
    }

    a {
      color: var(--link-colour) !important;

      &:visited {
        color: var(--link-colour-visited) !important;
      }
    }
  }

  /* Other content should go above the scrollyteller scrollout divs and the noise div */
  .Main.u-layout > h2,
  .Main.u-layout > ul,
  header {
    z-index: 5;
    position: relative;
  }

  .FormatCredit {
    z-index: 5;
    position: relative;
    color: white;
  }

  .scrollyteller .st-panel p,
  .scrollyteller .panel p {
    color: var(--text-colour) !important;
  }

  /* Allow the panels to be coloured based on light vs dark background setting */
  .scrollyteller .panel,
  .scrollyteller .st-panel {
    z-index: 3;

    &::before {
      background-color: var(--scrim-background-colour) !important;
      opacity: var(--scrim-opacity);
      box-shadow: none !important;
    }
  }

  .ImageEmbed.u-pull {
    color: var(--text-colour);
    position: relative;
    z-index: 3;

    a {
      color: var(--text-colour) !important;
    }
  }

  /* size and position the visuals based on the viewport height */
  .graphic > .scorecard-wrapper,
  .graphic > svg {
    /* https://jonathannicol.com/blog/2014/06/16/centre-crop-thumbnails-with-css/ */
    position: absolute;
    left: 50%;
    top: 50%;

    /* We want to force 1:1 ratio, and lose the sides */
    width: 100vh;
    height: 100vh;
    transform: translate(var(--x-offset), -50%);
    max-width: 5000vw;
  }

  /* Move the graphic to the left and the text to the right on desktop */
  @media (min-width: 76rem) {
    .graphic > .scorecard-wrapper,
    .graphic > svg {
      transform: translate(-50vw, -50%);
    }

    .scrollyteller .st-panel,
    .scrollyteller .panel {
      margin-left: 55vw !important;
      max-width: 40vw !important;
    }

    /* Keep the first scrollyteller centered */
    #scrollytellerNAMEfirstFRAME1 {
      .graphic svg {
        transform: translate(var(--x-offset), -50%);
      }

      .scrollyteller .st-panel,
      .scrollyteller .panel {
        margin-left: auto !important;
        max-width: 900px !important;
        text-align: center;
      }
    }
  }

  #scrollytellerNAMEfifthFRAME1 {
    margin-bottom: -30vh;
  }

  #scrollytellerNAMEfifthFRAME1 > .scrollyteller {
    margin-bottom: 0 !important;

    .scrollout-cover-end {
      display: none;
    }
  }
  /* 
     The end of the first scrollyteller needs to land just on top of the title
   */
  #scrollytellerNAMEfirstFRAME1 {
    margin-bottom: -43vh;

    .panel:first-child,
    .st-panel:first-child {
      margin-top: 62vh;
    }

    .panel:last-of-type,
    .st-panel:last-of-type {
      margin-bottom: 100vh;
    }
  }

  .Header,
  .Main.u-layout > p {
    z-index: 100;
    position: relative;
  }

  .Header {
    background: linear-gradient(6deg, rgba(197,184,223,0.420045518207283) 100%, rgba(197,184,223,0.8981967787114846) 0%);
  }

  /* 
     This class is added to 'Red' and 'Blue' mentions in the scrollyteller panels
     during the sankey section
   */
  .panel-text-highlight {
    font-weight: 600;
    white-space: nowrap;
    margin-left: -0.2rem;
    margin-right: 0.1rem;
  }

